# Folders
.idea/
__pycache__/
node_modules/
vendor/
documentation/.openapi-generator/
documentation/.openapi-generator-ignore

# Specific Files
thunderEnvironment.json
thunderActivity.json

# File Types
*.ini
*.gch
*.exe
