[Unit]
Description=Backend API Service systemd manager
After=network.target

[Service]
Type=simple
ExecStart=/var/www/backend/bin/linux
WorkingDirectory=/var/www

Restart=always
RestartSec=3
KillSignal=SIGINT

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=api-service
PrivateTmp=true

Environment=SSLCERT=/etc/Cloudflare/cert.pem
Environment=SSLKEY=/etc/Cloudflare/key.pem
Environment=PORT=443
Environment=ADDR=0.0.0.0
Environment=REQUESTMAX=10

[Install]
WantedBy=multi-user.target
